**/target
**/lib
**/bin
**/out
c/*.o
c/*.a
cpp/*.o
cpp/*.a
/include
**/__pycache__

pjproject/build.mak
pjproject/build/cc-auto.mak
pjproject/build/os-auto.mak
pjproject/config.log
pjproject/config.status
pjproject/pjlib-util/build/.pjlib-util-test-x86_64-unknown-linux-gnu.depend
pjproject/pjlib-util/build/.pjlib-util-x86_64-unknown-linux-gnu.depend
pjproject/pjlib-util/build/os-auto.mak
pjproject/pjlib-util/build/output/
pjproject/pjlib/build/.pjlib-test-x86_64-unknown-linux-gnu.depend
pjproject/pjlib/build/.pjlib-x86_64-unknown-linux-gnu.depend
pjproject/pjlib/build/os-auto.mak
pjproject/pjlib/build/output/
pjproject/pjlib/include/pj/compat/m_auto.h
pjproject/pjlib/include/pj/compat/os_auto.h
pjproject/pjlib/include/pj/config_site.h
pjproject/pjmedia/build/.pjmedia-audiodev-x86_64-unknown-linux-gnu.depend
pjproject/pjmedia/build/.pjmedia-codec-x86_64-unknown-linux-gnu.depend
pjproject/pjmedia/build/.pjmedia-test-x86_64-unknown-linux-gnu.depend
pjproject/pjmedia/build/.pjmedia-videodev-x86_64-unknown-linux-gnu.depend
pjproject/pjmedia/build/.pjmedia-x86_64-unknown-linux-gnu.depend
pjproject/pjmedia/build/.pjsdp-x86_64-unknown-linux-gnu.depend
pjproject/pjmedia/build/os-auto.mak
pjproject/pjmedia/build/output/
pjproject/pjmedia/include/pjmedia-codec/config_auto.h
pjproject/pjmedia/include/pjmedia/config_auto.h
pjproject/pjnath/build/.pjnath-test-x86_64-unknown-linux-gnu.depend
pjproject/pjnath/build/.pjnath-x86_64-unknown-linux-gnu.depend
pjproject/pjnath/build/.pjturn-client-x86_64-unknown-linux-gnu.depend
pjproject/pjnath/build/.pjturn-srv-x86_64-unknown-linux-gnu.depend
pjproject/pjnath/build/output/
pjproject/pjsip-apps/build/.pjsua-x86_64-unknown-linux-gnu.depend
pjproject/pjsip-apps/build/.pjsystest-x86_64-unknown-linux-gnu.depend
pjproject/pjsip-apps/build/output/
pjproject/pjsip/build/.pjsip-simple-x86_64-unknown-linux-gnu.depend
pjproject/pjsip/build/.pjsip-test-x86_64-unknown-linux-gnu.depend
pjproject/pjsip/build/.pjsip-ua-x86_64-unknown-linux-gnu.depend
pjproject/pjsip/build/.pjsip-x86_64-unknown-linux-gnu.depend
pjproject/pjsip/build/.pjsua-lib-x86_64-unknown-linux-gnu.depend
pjproject/pjsip/build/.pjsua2-lib-x86_64-unknown-linux-gnu.depend
pjproject/pjsip/build/.pjsua2-test-x86_64-unknown-linux-gnu.depend
pjproject/pjsip/build/os-auto.mak
pjproject/pjsip/build/output/
pjproject/pjsip/include/pjsip/sip_autoconf.h
pjproject/third_party/build/g7221/.libg7221codec-x86_64-unknown-linux-gnu.depend
pjproject/third_party/build/g7221/output/
pjproject/third_party/build/gsm/.libgsmcodec-x86_64-unknown-linux-gnu.depend
pjproject/third_party/build/gsm/output/
pjproject/third_party/build/ilbc/.libilbccodec-x86_64-unknown-linux-gnu.depend
pjproject/third_party/build/ilbc/output/
pjproject/third_party/build/os-auto.mak
pjproject/third_party/build/resample/.libresample-x86_64-unknown-linux-gnu.depend
pjproject/third_party/build/resample/output/
pjproject/third_party/build/speex/.libspeex-x86_64-unknown-linux-gnu.depend
pjproject/third_party/build/speex/output/
pjproject/third_party/build/srtp/.libsrtp-x86_64-unknown-linux-gnu.depend
pjproject/third_party/build/srtp/output/
pjproject/third_party/build/webrtc/.libwebrtc-x86_64-unknown-linux-gnu.depend
pjproject/third_party/build/webrtc/output/
pjproject/third_party/build/yuv/.libyuv-x86_64-unknown-linux-gnu.depend
pjproject/third_party/build/yuv/output/
